[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
click = "*"
flake8 = "*"
isort = "*"
mypy = "*"
numpy = "*"
pandas = "*"
PyYAML = "*"
toml = "*"
types-toml = "*"
types-pyyaml = "*"
py-cpuinfo = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
oauth2client = "*"
tqdm = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
